@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
.content{
    padding-top: 0px;
}
.content-header{
    padding: 1em 2em;
}
.content-header>h1>small{
    font-weight: 500 !important;
    line-height: 1.3em;
    margin-top: 10px;
    display: block;
}
.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

ul.dropdown-menu>li.user-header {
    height: auto !important;
}

a.dropdown-toggle {
    background-color: #3c8dbc !important;
}

a#logout {
    color: #3c8dbc !important;
    background: transparent;
}

@media ( max-width : 768px) {
    body .control-sidebar {
        padding-top: 100px;
    }
}

/* ===== Adjust the position of <p:growl> ===== */
.ui-growl {
    top: 4em !important;
    left: 70% !important;
}

/* ===== Styles for table columns ===== */
.topAlignedColumn {
    vertical-align: top;
}

.width100 {
    width: 100px;
}
.width200 {
    width: 200px;
}
.width400 {
    width: 400px;
}

/* ===== Styles for labels ===== */
.customedLabel {
    width: 12em;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0.5em;
    padding-top: 0.3em;
    text-align: right;
    font-weight: bold;
    color: #363636;
}
.customedLabel::after {
    content: ":";
}
.customedLabel.required::after {
    content: "*:";
}

.wide14 {
    width: 14em;
}

.narrow10 {
    width: 10em;
}
.narrow9 {
    width: 9em;
}
.narrow8 {
    width: 8em;
}
.tab-view .ui-tabs-nav.ui-widget-header a{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #495057;
}
.tab-view .ui-tabs .ui-tabs-nav{
    display: flex;
}
.tab-view .ui-tabs-nav.ui-widget-header a{
    width: 100%;
}
.tab-view .ui-tabs-nav.ui-widget-header li.ui-state-active{
    border-top: 3px solid #3c8dbc;
    background: #3c8dbc;
    color: #ffffff;
}
.layout-content{
    flex: 1 0 auto;
    padding: 0em 1em 1em;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}
.col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
}
.box{
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
}
.tab-view .ui-tabs-panels{
    background-color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}
.tab-view .ui-tabs-panels label, .form_field label{
    margin-right: 10px;
    margin-bottom: 15px;
    min-width: 110px;
}
.tab-view .ui-tabs-panels input,.tab-view .ui-tabs-panels button,.tab-view .ui-tabs-panels select,.tab-view .ui-tabs-panels textarea,.tab-view .selectInput,
.form_field input{
    border-radius: 0px;
    border: 1px solid #939bab !important;
    padding: 0px 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 13px !important;
    margin-bottom: 10px;
}

.tab-view .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header{
    padding: 0px !important;
    border-bottom: 0px;
    margin-bottom: 20px;
}
.tab-view .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li{
    border-radius: 6px;
    border: 0px !important;
    padding: 0px 20px;
    margin-right: 8px;
}
.tab-view .ui-tabs .ui-tabs-nav>li.ui-state-default.ui-state-active{
    background: #2A3650;
}
.tab-view .field{
    display: flex;
}
.tab-view .ui-tabs .ui-tabs-nav>li.ui-state-default.ui-state-active a{
    color: #ffffff;
    font-weight: 400;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background: #2A3650 !important;
}
.content-wrapper{
    background-color: #f1f1f1 !important;
}
.layout-header{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #3D434A;
    padding: 10px 5px;
}
button.ui-state-default.default-search-btn,
button.ui-state-default.default-save-btn{
    background: linear-gradient(256deg, #92c765 0%, #56991c 100%) !important;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 5px 25px;
    border: 0px;
    margin-top: 30px;
}
button.ui-state-default.default-search-btn .ui-button-icon-left, button.ui-state-default.add-btn .ui-button-icon-left,
button.ui-state-default.default-cancle-btn .ui-button-icon-left, button.ui-state-default.default-save-btn .ui-button-icon-left {
    position: absolute;
    left: 20px !important;
}
button.ui-state-default.add-btn{
    background: linear-gradient(256deg, #45d3ff 0%, #009ecf 100%) !important;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 5px 25px;
    border: 0px;
    margin-top: 30px;
    margin-left: 10px;
}
button.ui-state-default.default-cancle-btn{
    background: linear-gradient(256deg, #fc9b9b 0%, #E44141 100%) !important;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 5px 25px;
    border: 0px;
    margin-top: 30px;
    margin-left: 10px;
}
.box-table tbody>tr.ui-widget-content{
    text-align: center;
}
.box-table .default-edit-btn{
    height: 26px;
    color: #ffb122;
    background: #ffedcc;
    border-color: #ffb122 !important;
    border-radius: 0;
    margin: 0px 5px;
    padding: 10px 15px;

}
.box-table .default-edit-btn .ui-icon, .box-table .delete-edit-btn .ui-icon, .box-table .default-view-btn .ui-icon{
    font-size: 16px !important;
    margin-top: -9px !important;
}
.box-table .delete-edit-btn{
    height: 26px;
    color: #E44141;
    background: #fcebeb;
    border-color: #E44141 !important;
    border-radius: 0;
    margin: 0px 5px;
    padding: 10px 15px;
}
.box-table .default-view-btn{
    height: 26px;
    color: #23B7E5;
    background: #e4f8ff;
    border-color: #23B7E5 !important;
    border-radius: 0;
    margin: 0px 5px;
    padding: 10px 15px;
}
.box-table thead{
    background: #2a3650;
}
.box-table thead .ui-state-default{
    color: #fff !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 15px;
    font-weight: 400 !important;
}
.box-table .edit-column-width .ui-button-text.ui-c{
    display: none !important;
}
.box-table .ui-datatable table thead th, .box-table .ui-treetable table thead th{
    max-width: 200px;
}
.detup_dlg_box, .add_dlg_wgt{
    position: fixed !important;
}
.add_edit_country{
    padding: 10px 10px 20px;
}
.box-header .ui-dialog.detup_dlg_box, .ui-confirm-dialog.ui-dialog{
    padding: 0px !important;
}
.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar,body .ui-confirm-dialog.ui-dialog .ui-dialog-titlebar{
    background: #2a3650 !important;
}
.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar span,.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar span.ui-icon-extlink:before,
.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar span.ui-icon-minus:before,.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar span.ui-icon-closethick:before,
.ui-confirm-dialog.ui-dialog .ui-dialog-titlebar span, .ui-confirm-dialog.ui-dialog .ui-dialog-titlebar span.ui-icon-closethick:before{
    color: #ffffff !important;
}
.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar span.ui-icon-extlink:before,
.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar span.ui-icon-minus:before{
    top: -2px;
}
.box-header .ui-dialog.detup_dlg_box .ui-dialog-titlebar span.ui-icon-closethick:before,
.ui-confirm-dialog.ui-dialog .ui-dialog-titlebar span.ui-icon-closethick:before{
    top: -12px;
}
.ui-confirm-dialog.ui-dialog{
    min-width: 300px;
}
.ui-confirm-dialog.ui-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-yes{
    background: linear-gradient(256deg, #92c765 0%, #56991c 100%) !important;
}
.ui-confirm-dialog.ui-dialog .ui-dialog-footer .ui-button.ui-confirmdialog-no{
    background: linear-gradient(256deg, #fc9b9b 0%, #E44141 100%) !important;
}
.tab-view .ui-selectoneradio label{
    margin-bottom: 5px;
    margin-top: 5px;
}
.d-desktop-flex{
    display: flex;
}
.d-desktop-flex label{
    min-width: 110px;
    margin-right: 10px;
}
.d-desktop-flex .ui-selectonemenu{
    border-radius: 0px;
    border: 1px solid #939bab !important;
    padding: 0px 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 13px;
    margin-bottom: 10px;
}
.d-desktop-flex label.ui-selectonemenu-label{
    min-width: 148px;
}
.d-desktop-flex .ui-selectoneradio{
    margin-bottom: 20px;
}
.d-desktop-flex textarea{
    width: 100%;
    max-width: 217px;
    border-radius: 0px;
    border: 1px solid #939bab !important;
    padding: 0px 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 13px !important;
    margin-bottom: 10px;
}
@media only screen and (min-width: 1024px) {
    .tab-view .ui-tabs-panels .largeInput, .tab-view .selectInput{
        min-width: 45% !important;
    }
}

@media only screen and (min-width: 992px) {
    .lg\:col-8 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 66.6667%;
    }
}
@media only screen and (max-width: 768px) {
    .layout-content{
        padding: 0em;
    }
    .layout-header{
        font-size: 16px;
    }
    .tab-view .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li{
        padding: 0 10px;
    }
    .box-table thead .ui-state-default{
        padding: 8px 2px;
        font-size: 14px;
    }
    .box-table .default-view-btn{
        margin: 5px 5px;
    }
}
@media only screen and (max-width: 437px) {
    .tab-view .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab-view .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li{
        width: 45%;
        margin-bottom: 10px;
    }
    .tab-view .ui-tabs-nav.ui-widget-header a{
        font-size: 12px;
        width: 100%;
    }
    .tab-view .field{
        flex-flow: column;
    }
    .tab-view .field label{
        margin: 0px !important;
    }
}